.select {
    position: relative;
    display: inline-block;
    width: 15rem;
}    

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 2px solid #466edb;
    border-radius: 0px;
    background: #e7e8fe;
    color: #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000000;
    background: #ffffff;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.group1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}